doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width")
        
    title SimpleTemplate

    link(rel='stylesheet', href='css/main.css')

    script(type='text/javascript', src='js/raf.js')
    script(type='text/javascript', src='js/main.js')
  body
    h1 Imagination is more important than knowledge.
